body, h1, p, .gallery {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fff;
    color: #2e2c2d;
    line-height: 1;
}

h1 {
    background-color: #2e2c2d;
    color: #dfb8ca;
    padding: 11px;
    text-align: center;
}

nav {
    background-color: #2e2c2d;
    padding: 10px 0;
    background-size: 30px 100%;
    border: 2px solid #000;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a {
    color:#dfb8ca;
    text-decoration: none;
    margin: 0 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 8px #2e2c2d; 
}

nav a:hover {
    color: #fff;
}